@import url("https://use.typekit.net/kff2zha.css");
@import url("../assets/fonts/bw-surco/stylesheet.css");

//Color
$purple: #AE9FCD;
$green: #75C6C4;
$darkpurple: #615679;
$darkgreen: #4B8381;

//Fonts
$museo: 'museo', sans-serif;
$bw-surco: 'Bw Surco DEMO';