.footer {
    padding: 32px 0;

    &-logo {
        @include mobile {
            display: block;
            margin: 0 auto 16px;
        }
    }

    &-copy {
        color: $green;

        @include mobile {
            text-align: center;
        }
    }

    &-author {
        color: $purple;

        @include mobile {
            text-align: center;
        }

        &-link {
            color: $purple;
            font-weight: 500;
            transition: all .3s ease-in-out;

            &:hover {
                color: $darkpurple;
                text-decoration: none;
            }
        }
    }
}